<nav class="main_nav">
    <ul class="d-flex flex-row align-items-start justify-content-start">
        <li class="active"><a href="#">Women</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/category">Services</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</nav>