<div class="container col-lg- 12  col-md-12" style="padding-bottom: 3em;">
    <h2 class="text-dark">Personal Details</h2>
</div>
<div class="container col-lg- 12  col-md-12 row bg-white">
    <div class="col-md-4 col-lg-4 col-xl-4 mt-3">
        <center>           
             <span><h4>Picture</h4></span>
        </center>
            <div class="container">
            <div class="container">
                <img src="../images/fullstack.png" class="img img-responsive img-block circle" alt="">

            </div>
            </div>

        </div>

        <div class="col-md-4 col-lg-4 col-xl-4 mt-3">
             <span><h4>Profile</h4></span>
             <ul class="list-group">
                 <li class="list-group-item">Full Name: Erick Mgongo</li>
                 <li class="list-group-item"> Age: 22</li>
                 <li class="list-group-item"> Job: Student / Freelancer Web developer</li>
                 <li class="list-group-item"> Nationality: Tanzanian</li>
                 <li class="list-group-item"> Marital Status: Single</li>
             </ul>

         </div>

         <div class="col-md-4 col-lg-4 col-xl-4 mt-3">
                <span><h4>Hobbies</h4></span>
                <ul class="list-group">
                    <li class="list-group-item">Coding</li>
                    <li class="list-group-item">Movies</li>
                    <li class="list-group-item">Football</li>
                    <li class="list-group-item">Music</li>
                    <li class="list-group-item">Graphics Design</li>
                
                    
                </ul>
 
            </div>
</div>