<div class="footer_content">
    <div class="container">
        <div class="row">
            
            <!-- About -->
            <div class="col-lg-4 footer_col ">
                <div class="footer_about">
                    <div class="footer_logo">
                        <a href="#">
                            <div class="d-flex flex-row align-items-center justify-content-start">
                                <div class="footer_logo_icon"><img src="" alt=""></div>
                                <div>Education</div>
                            </div>
                        </a>		
                    </div>
                    <div class="footer_about_text" >
                        <p class="text-dark">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Fusce venenatis vel velit vel euismod.</p>
                        <p class="text-dark">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Fusce venenatis vel velit vel euismod.</p>

                      </div>
                    <br>              <p><a href="#" class="btn btn-success mt-20 rounded-0">More</a></p>

                </div>
            </div>
              <!-- Projects -->
              <div class="col-lg-8 bg-light">
                  <br><br>
                
                    <center><span style="font-size: 3em;" class="text-dark"><b>Projects</b></span></center>
                                <div class="container">
                    
                                        <table class="table table-hover">
                                                <thead>
                                                  <tr>
                                                    
                                                    <th scope="col">Project</th>
                                                    <th scope="col">Tools </th>
                                                    <th scope="col">Completed</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>MyPortifolio</td>
                                                    <td>Node,Expressjs,MongoDB</td>
                                                    <td>40% </td>
                                                  </tr>
                
                                                  <tr>
                                                        <td>NikiPhotoshoot</td>
                                                        <td>PHP,Laravel</td>
                                                        <td>98% </td>
                                                      </tr>
                                                  
                                                      <tr>
                                                            <td>UzaTz</td>
                                                            <td>PHP,Laravel</td>
                                                            <td>50% </td>
                                                          </tr>
                                                          <tr>
                                                                <td>ComiXwahili</td>
                                                                <td>React,Asp.NetMVC</td>
                                                                <td>5% </td>
                                                              </tr>
                                                  
                                                </tbody>
                                              </table>
                                              <br>              <p><a href="#" class="btn btn-success mt-20 rounded-0">More</a></p>
                                              <br> 
                                </div>                    
                </div>

            <!-- Projects -->
           

           
        </div>
    </div>
</div>
