<div class="bg-light  margin-bottom:-40px">
        <div class="card-deck">
                <div class="card">
                  <img src="images/uiux.jpeg" style="height: 220px;" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h2 class="card-title text-dark">UI/UX Design</h2>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                 
                </div>
                <div class="card">
                  <img src="images/frontend.jpeg" style="height: 220px;" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h2 class="card-title text-dark" >Frontend Development</h2>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  </div>
                 
                </div>
                <div class="card">
                  <img src="images/backend.jpeg" style="height: 220px;" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h2 class="card-title text-dark">Backend Engineering</h2>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  </div>
                  
                </div>
                
              </div>
              <br>
              <hr>
</div>