
<!-- <body class="hold-transition sidebar-mini layout-fixed"> -->
    <div class="wrapper">

        <!-- BarS -->
        <%- include('../../partials/admin-bars') -%>
      
      
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
      
      
          <!-- Content Header (Page header) -->
          <%- include('../../partials/admin-header') -%>
      
          <!-- /.content-header -->
      
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <!-- Small boxes (Stat box) -->
              
              <!-- FORM TO ADD A NEW SKILL -->

              <form role="form">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Skill Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter the new skill. Example Java">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Competence</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label>Experience from</label>
  
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                      </div>
                      <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                    </div>
                    <!-- /.input group -->
                  </div>
                  <!-- /.form group -->
                
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>


              <!-- /END OF FORM -->
      


      
      

              <!-- Main row -->
              <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
               
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <%- include('../../partials/admin-footer') -%>
      
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
          <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
      </div>
      <!-- ./wrapper -->
      
      